 body{
     background-image: url(../assets/ivan-torres-MQUqbmszGGM-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
 }
 .head{
    background-image: url(../assets/shourav-sheikh-Q9VEWorDhaY-unsplash.jpg);
    background-size: 105px;
    background-size: cover;
}
.pizzaForm{
    padding: 0;
    margin: 0;
    background:linear-gradient(to left, rgba(129, 62, 35, 0.541),#00FF6C)
} 
.display{
    display:none;
}
#locationForm{
    display: none;
}
#ficha{
    display: none;
}
#pick{
    display: none;
}
/* #ll{
    display: none;
} */